img,
video {
    opacity: 1;
}

[data-theme="dark"] {
    img[src$="#invert"] {
        filter: invert(1) hue-rotate(180deg);
    }
}

table {
    white-space: pre-wrap;
}

details {
    margin: 1rem 0;
}
